<div class="container">
  <a href="/movies">Go back</a>
  {{#if movie}}
    <div class="row movie-detail">
      <div class="col-12 col-md-2 text-center">
        <img class="img-fluid" src="{{movie.image}}" alt="{{movie.name}}" />
      </div>
      <div class="col-12 col-md-10">
        <h1 class="mb-2">{{movie.name}}</h1>
        <ul><p>Stars</p>
          {{#each movie.stars as |star|}}
            <li> {{star}}</li>
          {{/each}}
        </ul>
        <p class="text-muted mb-2">Director: {{movie.director}}</p>
        <p>{{movie.description}}</p>
        <p>{{movie.showtimes}}</p>
      </div>
    </div>
  {{/if}}
</div>